<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Admin FlightBooking</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="page d-flex">
        <div class="sidebar bg-light p-3">
            <partial name="_NavMenu" />
        </div>
        <div class="main flex-grow-1 p-3">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>
